/* layout */

:root{
    --tab-min-height: 50px !important;
    --tabs-navbar-separator-color: transparent !important;
}

#urlbar-container {
    --urlbar-container-height: 60px !important;
}

#PanelUI-menu-button, #new-tab-button {
  transform: scale(1.25) !important;
}

#tabs-newtab-button, 
#TabsToolbar #tabs-newtab-button {
    --toolbarbutton-inner-padding: 8px !important;
}

#tabs-newtab-button .toolbarbutton-icon {
    width: 35px !important;
    height: 35px !important;
    padding: 8px !important;
}


@media screen and (min-width:1325px)
{
    #nav-bar{
        margin-top: -40 !important;
        height: 40 !important;
    }

    #TabsToolbar{
        margin-left: calc(1325px / 100 * 60) !important;
        height: 100px !important;
    }

    #toolbar-items {
        height: 100px !important;
    }
        
    #nav-bar{
        margin-right: calc(100vw - calc(1325px / 100 * 60)) !important;
        margin-top: -60px !important;
        vertical-align: center !important;
    }
    #urlbar-container{
        min-width: 0px !important;
        flex: auto !important
    }

    toolbarspring {
        display: none !important
    }
}

@media screen and (min-width:850px) and (max-width:1324px){
    #back-button, 
    #forward-button {
    display: none !important;
    }

    #PanelUI-menu-button {
    display: none !important;
    }

    toolbarspring{display: none !important}
    
    #TabsToolbar,
    #nav-bar{
        transition: margin-top .25s !important
    }
}

/* @media screen and (max-width:849px)
{#nav-bar{padding: 0 5px 0 5px!important; height: calc(var(--NavbarHeightSmall) * 1px) !important} toolbarspring{display: none !important;} #TabsToolbar, #nav-bar{transition: margin-top .25s !important}} */
    
#nav-bar{
    margin-left: 3px;
    border-top: none !important
}
    
.tab-background,
.tab-stack {
    min-height: calc(var(--TabsHeight) * 1px) !important
}

/*  Removes flash before loading pages  */
:root{--tabpanel-background-color: -moz-Dialog !important}

/*  Removes annoying buttons and spaces */
#firefox-view-button, #save-to-pocket-button, #tracking-protection-icon-container, .titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"]{display: none !important}
#tabbrowser-tabs{border-inline-start-width: 0!important}

/*  Removes urlbar border/background  */
.urlbar-background{border: none !important; outline: none !important; transition: .15s !important;}

/*  Removes space after pinned tabs  */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {margin-inline-start: 0!important}

/*  Removes annoying border  */
#navigator-toolbox{border:none !important;}

/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend])>.urlbar-background {box-shadow: none !important; background: #0000 !important; transition: .6s ease-out !important}

/*  Makes the space between the reload button and the urlbar less akwardly large  */
#urlbar-container{margin-left: 1px !important}

/*  Makes the sidebar a little nicer  */
#sidebar-splitter{display: none}
#sidebar-header{padding-bottom: 0!important; border-bottom: 0!important}

/*  The thing in the bottom with links  */
#statuspanel-label{background-color: -moz-Dialog!important; border-color: transparent!important; border-radius: 5px !important; color: currentColor!important; margin: 0 0 2.5px 2px!important; padding: 5px!important; opacity: 100%;}

/*  Removes the annoying rainbow thing from the hamburger  */
#appMenu-fxa-separator{border-image:none !important;}

/*  Navbar buttons order  */
#PanelUI-button, #wrapper-PanelUI-button{order: -4 !important}
#nav-bar-overflow-button{order: -3 !important}
#unified-extensions-button{order: -2 !important}
#PanelUI-menu-button, #unified-extensions-button, #downloads-button{direction: rtl;}

/*  Remove back/forward entirely so extensions has room  */
#back-button, #forward-button{display: none !important}

/*  Drop menus  */
[position="bottomright topright"]{--panel-border-radius: 0 5px 5px 5px!important}
[position="bottomleft topleft"]{--panel-border-radius: 5px 0 5px 5px!important}
[part="content"]{border: none !important;}
.toolbarbutton-1[open]{--toolbarbutton-border-radius: 4px 4px 0 0!important;}

/*  Private tabs  */
[privatebrowsingmode="temporary"] #PanelUI-menu-button > .toolbarbutton-badge-stack{
fill: currentColor !important; -moz-context-properties: fill !important; list-style-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.4607598 4.7745347c-1.6558046-0.022972-3.308558 0.6945846-4.38033889 2.1016252-0.24667376 0.9746947 0.1329625 4.5740951 0.34896868 5.1407791 0.43334585 2.286732 2.30300841 4.007931 4.54440651 4.007931 1.1186988 0 2.1336268-0.446805 2.9349832-1.161493l0.4869937-0.419283a2.4174054 2.4174054 0 0 1 3.138115-0.02344l0.734397 0.606788v-0.0026c0.772021 0.621352 1.717989 1.002634 2.752686 1.002634 2.240064 0 4.109726-1.721199 4.544406-4.007931 0.214673-0.569353 0.608977-4.1526899 0.348969-5.1433851-1.905389-2.5014054-5.647401-2.8223737-7.976801-0.682312l-1.302122 1.1979524h-1.2760796l-1.302122-1.1979524c-1.0196962-0.936277-2.3086136-1.4014458-3.5964616-1.4193132zm1.0390935 3.6954225c0.9293602 0 1.7557821 0.389533 2.2891309 0.992217a0.86669252 0.86669252 0 0 1 0 1.1302418c-0.5333488 0.602685-1.3597707 0.989614-2.2891309 0.989614-0.9293601 0-1.7557821-0.386929-2.2891308-0.989614a0.86669252 0.86669252 0 0 1 0-1.1302418c0.5333487-0.602684 1.3597707-0.992217 2.2891308-0.992217zm9.0002687 0c0.929359 0 1.755781 0.389533 2.289131 0.992217a0.86669252 0.86669252 0 0 1 0 1.1302418c-0.53335 0.602685-1.359772 0.989614-2.289131 0.989614-0.92936 0-1.755782-0.386929-2.289131-0.989614a0.86669252 0.86669252 0 0 1 0-1.1302418c0.533349-0.602684 1.359771-0.992217 2.289131-0.992217z' fill='context-fill' stroke-width='1.33337'/%3E%3C/svg%3E%0A");}
.private-browsing-indicator-with-label{display: none}

/*  Notification  */
#tab-notification-deck .container.infobar{background: -moz-Dialog !important}
#tab-notification-deck .notificationbox-stack{background: transparent !important}

#identity-box,
.tab-close-button,
#urlbar-zoom-button,
#star-button-box,
.titlebar-buttonbox-container {
    display: none !important;
}

#ipprotection-button {
    display: none !important;
}


#urlbar-container, #urlbar, .tab-label {
    font-size: 18px !important;
}

.tab-icon-image {
    margin-left: 5px !important;
    height: 20px !important;
    width: 20px !important;
}

/* hover for new tab */
#tabs-newtab-button:hover > .toolbarbutton-icon,
#new-tab-button:hover > .toolbarbutton-icon {
    background-color: transparent !important;
}

/*  Urlbar popup thing  */
/* .urlbarView-row{display: none !important}
.urlbarView-row:nth-child(1), .urlbarView-row:nth-child(2){display: flex !important}
#urlbar-anon-search-settings{margin-inline-start: 0px !important} */

@media screen and (max-width:849px) {
    #PanelUI-menu-button {
        display: none !important;
    }
    #back-button, #forward-button{display: none !important}
}


.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 350px !important;
  min-width: 51px !important;
}

#tabbrowser-tabs .tabbrowser-tab .tab-content {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#nav-bar,
#PersonalToolbar{
    background-color: #0000 !important;
    background-image: none !important;
    box-shadow: none !important
}

/* Increase space between tab icon and text */
.tab-icon-stack {
  margin-inline-end: 4px !important;
}

:root[privatebrowsingmode="temporary"] #ipprotection-button {
    display: flex !important;
}

browser[type="content-primary"], 
browser[type="content"] {
  background: #2B2A33 !important;
}

:root:not([privatebrowsingmode]) :is(toolbarbutton, toolbarpaletteitem), :root[privatebrowsingmode] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) {
  & ~ #tabbrowser-tabs[orient="horizontal"]::before {
    display: none !important;
  }
}